{
	margin: 100px;
	

} 
header{
	width: 100%;
	height: 60px;
         color:white;
background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header h1{
	margin-left: 10%;
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
header a{
	width: 50px;
	margin-left: 50%;
	display: inline-block;
	vertical-align: top;
}
header a img{
	width: 100%;
}
body{
background-color: #FFD6BD;  /* fallback for old browsers */

}
div{
	font-family: arial,sans-serif;
	font-size: 130%; /*px,pt,120%,1em*/
	font-style: normal;/*italic,oblique*/
	font-variant: normal;/*small-caps */
	font-weight: normal;/*bolt*/
    text-indent:30px; 	/*sangria en primera linea*/
    text-align: justify;/*left,right,center*/
    text-decoration: none;/*underline,overline,through*/
    text-transform: none;/*capitalize,uppercase,lowercase*/
    border: crimson 2px solid;

   	background-color:#E6E6FA;
	margin: 20px 380px;
}
h1{
font-family: candara;
}
footer{
background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align:center;
  
    margin: auto;
    overflow: hidden;
}